<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.clean.cleanssakssak.diary.DiaryMapper">

    <insert id="insDiary" useGeneratedKeys="true" keyProperty="diaryId" > <!-- 다이어리 작성 -->
        INSERT INTO t_diary
        SET
        user_id = #{loginedUserId}
        ,title = #{title}
        ,contents = #{contents}
    </insert>

    <insert id="insDiaryPic"> <!-- 다이어리 사진 넣기-->
        INSERT INTO t_diary_pic
        (diary_id,pic)
        values
        <foreach collection="pics" item="pic" open="(" close=") " separator="),(">
            #{diaryId},#{pic}
        </foreach>
    </insert>

    <update id="delDiary"> <!-- 다이어리 삭제시 is del 1으로 변경 -->
        UPDATE t_diary
        set is_del = 1
        WHERE diary_id = #{diaryId}
        AND user_id = #{loginedUserId}
    </update>

    <delete id="delDiaryPics"> <!-- 다이어리 사진 삭제, 유저 확인 -->
        DELETE B
        FROM t_diary A
        LEFT JOIN t_diary_pic B
        ON A.diary_id = B.diary_id
        WHERE (A.diary_id, A.user_id) = (#{diaryId},#{loginedUserId});
    </delete>

    <update id="updDiary"> <!-- 다이어리 제목 내용 수정 -->
        UPDATE t_diary
        SET
        title = #{title}
        ,contents = #{contents}
        WHERE user_id = #{loginedUserId} AND diary_id = #{diaryId}
    </update>

    <select id="selDiaryAll"> <!-- 다이어리 페이징처리 -->
        SELECT C.nickname
        ,A.user_id as loginedUserId, A.title, A.contents
        ,A.created_at as createdAt,A.diary_id as diaryId
        FROM t_diary A
        INNER JOIN t_user C
        ON A.user_id = C.user_id
        WHERE A.user_id = #{loginedUserId} AND A.is_del = 0
        ORDER BY A.diary_id DESC
        LIMIT #{startIdx},#{rowCount}
    </select>

    <select id="selDiaryPicAll">
        SELECT pic
        FROM t_diary_pic
        WHERE diary_id = #{diaryId}
    </select>
    
    <delete id="delDiaryPicForUnregister">
        DELETE B
        FROM t_diary A
        JOIN t_diary_pic B
        ON A.diary_id = B.diary_id
        WHERE A.user_id = #{loginedUserId}
    </delete>

    <delete id="delDiaryForUnregister">
        DELETE FROM t_diary
        WHERE user_id = #{loginedUserId}
    </delete>
</mapper>